{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>qpFrame</title>
    <meta name="description" content="Manage your Warframe relics and more."/>
    <!---->
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <!---->
    <meta property="og:title" content="qpFrame" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://qpframe.ca" />
    <meta property="og:image" content="{% static 'favicon/favicon.jpg' %}" />
    <!---->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@qpFrame" />
    <meta name="twitter:title" content="qpFrame" />
    <meta name="twitter:description" content="Manage your Warframe relics and more." />
    <meta name="twitter:image" content="{% static 'favicon/favicon.jpg' %}" />
    <!---->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
  </head>
  <body>
    <h1>Warframe Void Companion</h1>
    {% block "content" %}{% endblock %}
  </body>
</html>
