body {
    --el-font-family: "Nunito", sans-serif;
    --el-font-size-base: 16px;
    --el-font-size-small: 12px;
    --el-text-color-primary: var(--qp-base-color);
    --el-text-color-secondary: var(--qp-secondary-dark-2);

    --el-border-color-light: var(--qp-base-disable-color);
    --el-mask-color-extra-light: rgba(28, 28, 29, 0.5);

    --el-color-success: var(--qp-success);
    --el-color-success-daker-3: var(--qp-success-dark-1);
    --el-color-success-light-5: var(--qp-success-dark-2);
    --el-color-success-light-7: var(--qp-success-dark-3);
    --el-color-success-light-8: var(--qp-success-dark-4);
    --el-color-success-light-9: var(--qp-success-dark-5);
    --el-color-info: var(--qp-info);
    --el-color-info-daker-3: var(--qp-info-dark-1);
    --el-color-info-light-5: var(--qp-info-dark-2);
    --el-color-info-light-7: var(--qp-info-dark-3);
    --el-color-info-light-8: var(--qp-info-dark-4);
    --el-color-info-light-9: var(--qp-info-dark-5);
    --el-color-warning: var(--qp-warning);
    --el-color-warning-daker-3: var(--qp-warning-dark-1);
    --el-color-warning-light-5: var(--qp-warning-dark-2);
    --el-color-warning-light-7: var(--qp-warning-dark-3);
    --el-color-warning-light-8: var(--qp-warning-dark-4);
    --el-color-warning-light-9: var(--qp-warning-dark-5);
    --el-color-danger: var(--qp-error);
    --el-color-danger-daker-3: var(--qp-error-dark-1);
    --el-color-danger-light-5: var(--qp-error-dark-2);
    --el-color-danger-light-7: var(--qp-error-dark-3);
    --el-color-danger-light-8: var(--qp-error-dark-4);
    --el-color-danger-light-9: var(--qp-error-dark-5);
    --el-color-error: var(--qp-error);
    --el-color-error-light-3: var(--qp-error-dark-1);
    --el-color-error-light-5: var(--qp-error-dark-2);
    --el-color-error-light-7: var(--qp-error-dark-3);
    --el-color-error-light-8: var(--qp-error-dark-4);
    --el-color-error-light-9: var(--qp-error-dark-5);
}

body .el-alert {
    --el-alert-description-font-size: 14px;
    font-size: 16px;
    line-height: 120%;
    text-align: left;
}
body .el-alert__title {
    font-size: 16px;
    line-height: 120%;
    vertical-align: middle;
}
body .el-alert .el-alert__icon {
    margin-right: 6px;
}

body .el-avatar {
    --el-avatar-text-color: var(--qp-card-color);
    --el-avatar-bg-color: var(--qp-card-bg);
    font-family: "Quicksand", sans-serif;
}

body .el-button {
    --el-button-bg-color: var(--qp-card-bg);
    --el-button-border-color: var(--qp-card-bg);
    --el-button-text-color: var(--qp-base-color);

    --el-button-hover-bg-color: var(--qp-card-bg);
    --el-button-hover-border-color: var(--qp-card-bg);
    --el-button-hover-text-color: var(--qp-primary);

    --el-button-active-bg-color: transparent;
    --el-button-active-border-color: rgba(255, 255, 255, 0.03);
    --el-button-active-text-color: var(--qp-primary);

    border-radius: 2px;
    font-family: "Nunito", sans-serif;
}
body .el-button:not(.is-disabled) {
    background-color: var(--qp-secondary-dark-5);
    border-color: var(--qp-secondary-dark-5);
    color: var(--qp-secondary);
}
body .el-button:not(.is-disabled):hover,
body .el-button:not(.is-disabled):focus {
    background-color: var(--qp-secondary-dark-4);
    border-color: var(--qp-secondary-dark-4);
    color: var(--qp-base-color);
}
body .el-button:not(.is-disabled):active {
    background-color: var(--qp-secondary-dark-5);
    border-color: var(--qp-secondary-dark-5);
    color: var(--qp-secondary-dark-2);
}
body .el-button.is-disabled,
body .el-button.is-disabled:hover,
body .el-button.is-disabled:focus,
body .el-button.is-disabled:active {
    background-color: var(--qp-card-bg);
    border-color: var(--qp-card-bg);
    color: var(--qp-base-disable-color);
}
body .el-button.is-text {
    background-color: transparent;
    border-radius: 1em;
    color: var(--el-button-text-color);
}
body .el-button.is-text:not(.is-disabled):hover,
body .el-button.is-text:not(.is-disabled):focus {
    background-color: rgba(255, 255, 255, 0.03);
    color: var(--qp-primary);
}
body .el-button.is-text.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: var(--qp-base-disable-color);
}
body .el-button.el-button--primary:not(.is-disabled) {
    background-color: var(--qp-primary-dark-4);
    border-color: var(--qp-primary-dark-4);
    color: var(--qp-primary);
}
body .el-button.el-button--primary:not(.is-disabled):hover,
body .el-button.el-button--primary:not(.is-disabled):focus {
    background-color: var(--qp-primary-dark-3);
    border-color: var(--qp-primary-dark-3);
    color: var(--qp-primary);
}
body .el-button.el-button--primary:not(.is-disabled):active {
    background-color: var(--qp-primary-dark-4);
    border-color: var(--qp-primary-dark-4);
    color: var(--qp-primary-dark-3);
}
body .el-button > span {
    text-overflow: ellipsis;
}

body .el-card,
body .el-card.is-always-shadow {
    background-color: var(--qp-card-bg);
    border: none;
    border-color: var(--qp-card-bg);
    border-radius: 0;
    box-shadow: none;
    color: var(--qp-card-color);
}

body .el-col {
    padding: 10px;
}
body .el-col.qp-pa0 {
    padding: 0;
}

body .el-color-picker {
    --el-border-color: var(--qp-input-bg);
    --el-text-color-secondary: var(--qp-input-placeholder);
}

body .el-dialog {
    --el-dialog-bg-color: var(--qp-card-bg);
    --el-text-color-primary: var(--qp-card-color);
}

body .el-divider--horizontal {
    border-color: rgba(255, 255, 255, 0.05);
    margin: 5px 0;
}

body .el-drawer {
    --el-drawer-bg-color: var(--qp-base-bg);
}

body .el-dropdown-menu {
    --el-bg-color-overlay: var(--qp-sidebar-bg);
    --el-text-color-regular: #acadac;
    --el-text-color-disabled: #5e5f5e;
    background-color: var(--qp-sidebar-bg);
    border-color: var(--qp-sidebar-bg);
}
body .el-dropdown-menu__item.is-disabled.qp-dropdown-text {
    color: var(--el-text-color-regular);
    cursor: default;
}
body .el-dropdown-menu__item:not(.is-disabled):focus {
    background-color: rgba(255, 255, 255, 0.02);
}

body .el-form-item__label {
    color: var(--qp-base-color);
}
body .el-form .el-form-item__content > .el-col {
    padding: 0;
}
body .el-form .el-form-item__error {
    text-align: left;
    position: relative;
    top: auto;
}

body .el-input,
body .el-textarea {
    --el-input-bg-color: var(--qp-input-bg);

    --el-input-border: 1px solid var(--el-input-border-color);
    --el-input-border-color: var(--qp-input-bg);
    --el-input-hover-border: var(--qp-input-bg);
    --el-input-hover-border-color: var(--qp-input-bg);
    --el-input-focus-border: var(--qp-primary);
    --el-input-focus-border-color: var(--qp-primary);
    --el-input-border-radius: 0;

    --el-input-text-color: var(--qp-input-color);
    --el-input-icon-color: var(--qp-input-placeholder);
    --el-input-placeholder-color: var(--qp-input-placeholder);
    --el-input-clear-hover-color: var(--qp-input-clearhover);

    --el-disabled-bg-color: var(--qp-input-bg);
    --el-disabled-border-color: var(--qp-input-bg);
    --el-disabled-text-color: var(--qp-input-placeholder);
}

body .el-link {
    font-size: inherit;
}

body .el-loading-mask {
    background-color: rgba(30, 30, 32, 0.8);
}

body .el-menu {
    --el-menu-bg-color: transparent;
    --el-menu-border-color: transparent;
    --el-menu-hover-bg-color: transparent;
    --el-menu-text-color: var(--qp-base-color);
    --el-text-color-secondary: var(--qp-secondary);
}
body .el-sub-menu__title:hover,
body .el-menu-item:hover {
    color: var(--qp-primary);
}
body .el-menu-item > span {
    font-size: 16px;
    line-height: 100%;
    white-space: normal;
    word-break: break-word;
    max-width: 100%;
}
body .el-menu-item-group__title {
    padding: 17px 0;
}

body .el-message-box {
    --el-bg-color: var(--qp-card-bg);
    --el-border-color-lighter: var(--qp-card-bg);
    --el-messagebox-title-color: var(--qp-card-color);
    --el-messagebox-content-color: var(--qp-card-color);
}

body .el-pagination {
    --el-pagination-button-bg-color: var(--qp-card-bg);
    --el-disabled-bg-color: var(--qp-card-bg);
    --el-text-color-regular: var(--qp-card-color);
    --el-text-color-placeholder: var(--qp-card-color);
    justify-content: center;
}
body .el-pagination.is-background .btn-next:disabled,
body .el-pagination.is-background .btn-prev:disabled {
    opacity: 0.6;
}

body .el-progress {
    --el-border-color-lighter: rgba(255, 255, 255, 0.05);
}
body .el-progress--circle {
    max-width: 100%;
}
body .el-progress-circle {
    --el-fill-color-light: var(--qp-secondary-dark-5);
    height: auto!important;
    max-width: 100%;
    aspect-ratio: 1/1;
}
body .el-progress-circle path.el-progress-circle__path {
    stroke: var(--qp-primary);
}

body .el-result__title p {
    color: var(--qp-card-color);
}

body .el-row {
    padding: 0 10px;
    margin-left: 0!important;
    margin-right: 0!important;
}
body .el-row.qp-pa0 {
    padding: 0;
}

body .el-select {
    width: 100%;
}
body .el-select-dropdown__item.hover,
body .el-select-dropdown__item:hover {
    background-color: rgba(255, 255, 255, 0.02);
}

body .el-tabs__nav-wrap::after {
    background-color: rgba(255, 255, 255, 0.05);
}

body .el-timeline {
    padding: 0;
}
body .el-timeline-item__wrapper {
    top: -1px;
}
body .el-timeline-item__node.is-hollow {
    background-color: var(--el-timeline-node-color);
}

body .el-popper.is-light,
body .el-popper.is-dark {
    --el-bg-color-overlay: var(--qp-sidebar-bg);
    --el-border-color-light: var(--qp-sidebar-bg);
    --el-text-color-primary: var(--qp-sidebar-bg);
    background-color: var(--qp-sidebar-bg);
    border-color: var(--qp-sidebar-bg);
}
